@import "tailwindcss";
@plugin 'tailwind-scrollbar';

.special-scroll::-webkit-scrollbar,
.special-scroll::-webkit-scrollbar-thumb,
.special-scroll::-webkit-scrollbar-track {
    display: none;
}

.hide-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}